.expmenu {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -12px;
    margin-right: -12px;
    height: 60px;
}


.borderlevel {
    width: 660px;
    min-width: 360px;
    height: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 12px;
}

.borderbinian {
    width: 660px;
    min-width: 360px;
    height: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 12px;
    margin-left: 40px;
}

.level {
    flex: 1 1;
    align-items: center;
    border-radius: 12px;

    box-sizing: border-box;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

    width: 220px;
    height: 60px;
    justify-content: center;
    cursor: pointer;
}


.level.active {
    background-color: #86B6F6;
    color: #fff;
}

.level p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}




.binian {
    flex: 1 1;
    align-items: center;
    border-radius: 12px;

    box-sizing: border-box;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

    width: 220px;
    height: 60px;
    justify-content: center;
    cursor: pointer;
}


.binian.active {
    background-color: #86B6F6;
    color: #fff;
}

.binian p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}





.progress-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 660px;
    height: 20px;
    margin-left: 20px;
}

.progress-bar {
    background-color: #4caf50;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.progress-text {
    font-family: Nunito, arial, sans-serif;
    font-size: 20px;
    color: black;
    margin-right: 20px;
}




.tenses {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 60px;
    margin-left: -12px;
    margin-right: -12px;
}



.tense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    min-width: 260px;
    min-height: 260px;
    width: 380px;
    height: 380px;
    transition: transform 0.2s ease;
}

.tense p {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}

.tense:hover {
    transform: translateY(-10px);
}



.t1 {
    background: #FFEBD8 url('pic/icons/tn1.png') bottom/cover no-repeat;
    background-size: 95%;
}

.t2 {
    background: #FFEBD8 url('pic/icons/tn2.png') bottom/cover no-repeat;
    background-size: 75%;
}

.t3 {
    background: #FFEBD8 url('pic/icons/tn3.png') bottom/cover no-repeat;
    background-size: 90%;
}

.t4 {
    background: #FFEBD8 url('pic/icons/tn4.png') bottom/cover no-repeat;
    background-size: 64%;


}