#uppercase {
    text-transform: uppercase;
}


.course-block h2 {
    margin-block-end: 10px;
    margin-block-start: 6px;
}


.hebrew-keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.hebrew-keyboard button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}