body {
    margin: 0;
    padding: 0;
}

.table-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
    margin-left: -12px;
    margin-right: -12px;

}

table {
    border-collapse: collapse;
    min-width: 400px;
    width: 700px;

    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    /* padding: 8px; */
    text-align: left;
    height: 40px;
}


td {
    min-width: 80px;

}


th {
    background-color: #f2f2f2;
}

.selected {
    cursor: pointer;
}

.selected:hover {
    background-color: yellow;
    /* Change to your desired color */
    cursor: pointer;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* ////////////////////// */

/* Define styles for the list container */
ul {
    list-style-type: none;
    /* Remove default list styling */
    padding: 0;
}

/* Define styles for each list item */
li {
    padding: 8px 0;
    /* Add padding to separate each item */
    border-bottom: 1px solid #ccc;
    /* Add a bottom border to separate items */
}

/* Style for the last item to remove bottom border */
li:last-child {
    border-bottom: none;
    /* Remove bottom border for the last item */
}

/* Define styles for draggable elements */
.draggable {
    cursor: move;
    /* Set cursor to indicate draggable */
    /* Add any other styles as needed */
}


td.droppable {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

}