/* client\src\styles\RestorePassword.css  */
body {
    margin: 0;
    padding: 0;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close-button-image {
    background-image: url('./pic/icons/cl3.png');
    background-size: contain;
    width: 65px;
    height: 65px;

}

.left-button {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.left-button-image {
    background-image: url('./pic/icons/ar1.png');
    background-size: contain;
    width: 48px;
    height: 48px;

}